manok-files/
Cathie Hartigan & Margaret James - The Creative Writing Student’s Handbook-CreativeWritingMatters (2014).pdf
Roy Peter Clark - Writing Tools_ 55 Essential Strategies for Every Writer-Little, Brown and Company (2008).pdf